#game-container {
    height: 100%;
    width: 100%;
    position: relative;
    border: 2px solid black;
}

.brick {
    flex: 1;
    border-radius: 50%;
}

.brick img {
    height: 100%;
}

.player {
    background: brown;
}

.bullet {
    border-radius: 50%;
    background: black;
}
