@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

body {
  font-family: 'Baloo Bhaina 2', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

.react-icons {
  vertical-align: middle;
}
